<%- include('../partials/header') %>
        <div class="container" style="margin-top:30px;">
            <div class="row">
                <div class="col-md-4" style="height:500px;background-color: #04231D">
                    <div class="user">
                        <div class="user__image" style="border-radius: 15px;">
<img src="/images/users/<%= userid %>.jpg" class="img-fluid rounded-circle" style="border:12px solid #1B3732;max-width: 180px;;">
                        </div>           
                        <div class="user__name">
                            <%= username %>
                        </div>
                        
                    </div>
<div class="btn btn-primary" style="position: absolute;

                    bottom: 10px;
                    
                    left: 33%;">
    <a style="text-decoration: none;color:white;" href="/users/add_plant">
        Add a Plant
    </a>
</div>
                </div>
                <div class="col-md-8">
                    <div class="head-title text-uppercase font-weight-bold">
                        Manage Your Plants
                    </div>
                    <div class="head-info">
                        Plants are mainly multicellular, predominantly photosynthetic eukaryotes of the kingdom Plantae. Historically, plants were treated as one of two kingdoms including all living things that were not animals.
                    </div>
                    <div class="container p-2" style="background-color:#04231D">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-light-yellow pt-3 pl-4">
                                    Your Plants
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">

                            <% for(var i=0; i< plants.length; i++) { %>
                            <div class="col-md-4">
                                <div class="plant-container">
<img src="/images/plants/<%= plants[i].id %>.jpg" alt="" class="img-fluid" style="border:15px solid #031d18;border-radius: 28px;">
                                    <br>
<div class="font-weight-bold plant-name">
<a href="/users/plant_show/<%= plants[i].id %>">
    <%= plants[i].title %></a>
    
</div>
<div class="font-weight-light updated-status">Last updated
    5 min ago
</div>
                                </div>
                            </div>

                            <% } %>
                            

                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        

        <%- include('../partials/footer') %>
