<%- include('../partials/header') %>
<div class="container" style="margin-top:30px;">
  <div class="row">
    <div class="col-md-4" style="background-color: #04231D">
      <div class="user">
        <div class="user__image" style="border-radius: 15px;">
          <img src="/images/plants/<%= plant_id %>.jpg" class="img-fluid rounded-circle" style="border:12px solid #1B3732;max-width: 180px;;">
        </div>
        <div class="user__name">
Plant ID: <%= plant_id %>
          
        </div>
        <div class="text-small">Last updated 7 min ago</div>
        <div class="text-bold">
          Connected
        </div>
      </div>
      <div class="btn btn-primary" style="color: #fff;position: absolute;

                    bottom: 10px;
                    
                    left: 33%;">
        <a href="/users/stats/<%= plant_id %>" style="text-decoration:none;color:white;">
          Check Stats
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="head-title text-uppercase font-weight-bold">
        Plant: #<%= plant_id %>
      </div>
      <div class="head-info">
        Check your plant's condition with different graphical representations below. These graphs show accurate and
        real-time
        info.
      </div>
      <div class="container p-2" style="background-color:#04231D">
        <div class="row">
          <div class="col-md-12">
            <div class="text-light-yellow pt-3 pl-4">
              Your Plants
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
<canvas id="masterChart" style="height:150px;"></canvas>
            
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
    <script>
  
      var hour_data = [<%- hour_data %>];
      var moisture_data = [<%- moisture_data %>];
      var light_data = [<%- light_data %>];
      var temprature_data = [<%- temprature_data %>];

      
    //   console.log(hour_data);
      
      // function getTemperature() {
      
      
var masterChart = new Chart(document.getElementById("masterChart"), {
    type: 'bar',
    data: {
      labels: hour_data,
      datasets: [
        {
          label: "Moisture",
          backgroundColor: "#3e95cd",
          data: moisture_data
        }, {
          label: "Light",
          backgroundColor: "#8e5ea2",
          data: light_data
        },
        {
          label: "Temperature",
          backgroundColor: "#ce7322",
          data: temprature_data
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Recent Temperature Moisture, Light values'
      }
    }
});

</script>

<%- include('../partials/footer') %>
